<a href="https://colab.research.google.com/github/2303A51680/b23_1680/blob/main/class_work(LAB).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
l=[9,26,92,56,45,16]
l.sort()
print(l)
l.reverse()
print(l)
print(sum(l))
print(min(l))
print(max(l))

[9, 16, 26, 45, 56, 92]
[92, 56, 45, 26, 16, 9]
244
9
92

searching the element

In [2]:
l=[10,20,30,40]
print(l)
if 20 in l:
  print("found")
else:
    print("Not founr")

[10, 20, 30, 40]
found

In [3]:
l=[10,99.9,"CSE"]
for i in l:
  print(type(i),i)

<class 'int'> 10
<class 'float'> 99.9
<class 'str'> CSE

In [4]:
l=[10,20,30,40]
l.append(50)
print(l)
l.remove(30)
print(l)
l.insert(2,25)
print(l)
l.pop()

[10, 20, 30, 40, 50]
[10, 20, 40, 50]
[10, 20, 25, 40, 50]

50

Nested List

In [5]:
student=[[10,20],[30,40],[50,60],[70,80],[90,100]]
print(student)

[[10, 20], [30, 40], [50, 60], [70, 80], [90, 100]]

Tuple

In [8]:
t=[10,20,30,40]
print(t)
t=[10,20,30,10,20]
print(t)
t=(10,99.9,"CSE")
for i in t:
  print(type(i),i)

[10, 20, 30, 40]
[10, 20, 30, 10, 20]
<class 'int'> 10
<class 'float'> 99.9
<class 'str'> CSE

In [9]:
if 20 in t:
  print("found")
else:
    print("Not found")

Not found

In [10]:
t=[1,2,3,2,3,4]
print(t.count(2))
print(t.index(4))

2
5

In [13]:
l=[10,20,30,40]
mytuple=tuple(l)
print(mytuple)

(10, 20, 30, 40)

Dictionary

In [14]:
student={"name":"python","id":"101","branch":"cse"}
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'id', 'branch'])
dict_values(['python', '101', 'cse'])
dict_items([('name', 'python'), ('id', '101'), ('branch', 'cse')])

for loop

In [19]:
student={"name":"python","id":"101","branch":"cse"}

for key,value in student.items():
  print(key,value)

name python
id 101
branch cse

insertion

In [20]:
student["college"]="SRU"
print(student)

{'name': 'python', 'id': '101', 'branch': 'cse', 'college': 'SRU'}

deletion

In [21]:
student["branch"]="AIML"
del student["id"]

searching

In [22]:
if"name" in student:
  print("found")
else:
    print("Not found")

found

Nested Dictionary

In [23]:
student={"101":{"name":"c","id":"1"},"102":{"name":"python","id":"2"}}
print(student["102"]["name"])

python

set

In [24]:
s={1,2,3,4}
print(s)

{1, 2, 3, 4}

In [25]:
s={1,2,3,2,3,2}
print(s)

{1, 2, 3}

In [26]:
for i in s:
  print(i)

1
2
3

In [27]:
if 2 in s:
  print("found")
else:
    print("not found")

found

In [31]:
A={1,2,3}
B={3,4,5}
print("union",A|B)
print("intersection",A&B)
print("difference",A-B)
print("symmetric difference",A^B)

union {1, 2, 3, 4, 5}
intersection {3}
difference {1, 2}
symmetric difference {1, 2, 4, 5}

In [30]:
s={1,2,3}
s.add(4)
print(s)
s.remove(2)
print(s)
s.clear()
print(s)

{1, 2, 3, 4}
{1, 3, 4}
set()